.*
_*
*.out

!.github
!.gitignore
!.gitmodules

data/ccs_fastq/*

results/*

!results/gene_sequence
results/gene_sequence/*
!results/gene_sequence/codon.fasta
!results/gene_sequence/protein.fasta

!results/variants
results/variants/*
!results/variants/codon_variants.csv

!results/barcode_counts
results/barcode_counts/*
!results/barcode_counts/*_counts.csv

!results/func_scores
results/func_scores/*
!results/func_scores/*_func_scores.csv

!results/func_effects
results/func_effects/*
!results/func_effects/by_selection
results/func_effects/by_selection/*
!results/func_effects/by_selection/*_func_effects.csv
!results/func_effects/averages
results/func_effects/averages/*
!results/func_effects/averages/*_func_effects.csv
!results/func_effects/averages/*_latent_effects.csv

!results/func_effect_shifts
results/func_effect_shifts/*
!results/func_effect_shifts/by_comparison
results/func_effect_shifts/by_comparison/*
!results/func_effect_shifts/by_comparison/*_shifts.csv
!results/func_effect_shifts/averages
results/func_effect_shifts/averages/*
!results/func_effect_shifts/averages/*_shifts.csv

!results/antibody_escape
results/antibody_escape/*
!results/antibody_escape/by_selection
results/antibody_escape/by_selection/*.pickle
results/antibody_escape/by_selection/*.csv
!results/antibody_escape/averages
results/antibody_escape/averages/*
!results/antibody_escape/averages/*_mut_effect.csv
!results/antibody_escape/averages/*_mut_icXX.csv

!results/summaries
results/summaries/*
!results/summaries/summary.csv
!results/summaries/per_antibody_escape.csv

!results/dms_viz
results/dms_viz/*
!results/dms_viz/dms_viz.json

!results/filtered_CSVs
results/filtered_CSVs/*
!results/filtered_CSVs/*.csv

!results/escape_plots
results/escape_plots/*
!results/escape_plots/*.svg

!results/escape_plots/subset_analysis_plots
results/escape_plots/subset_analysis_plots/*
!results/escape_plots/subset_analysis_plots/*.svg

!results/mapped_scores_onto_pdb/
results/mapped_scores_onto_pdb/*
!results/mapped_scores_onto_pdb/*.pdb

non-pipeline_analyses/*

!non-pipeline_analyses/pdb_viewing/
non-pipeline_analyses/pdb_viewing/*
!non-pipeline_analyses/pdb_viewing/*.png

!non-pipeline_analyses/neutralization_curves/

!results/dms-viz
results/dms-viz/*
!results/dms-viz/*.json

node_modules/
!homepage/.vitepress/
homepage/.vitepress/cache/
homepage/.vitepress/dist/
!homepage/public/
